.parent {
            background: linear-gradient(180deg, #b9b9b3 , #727171);
            margin: 0 auto; 
            padding: 15px;
            max-width: 900px; 
            width: 100%;      
            min-height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .child {
            background-color: white;
            width: 800px;
            height: 440px;
            position: relative;

            border-radius: 4px;
        }
        .myImage::before {
            background-color: #292729;
            content: "";
            position: absolute;
            border-radius: 10px;
            z-index: 1;

            top: 160px;
            left: 80px;

            width: 210px;
            height: 230px;          
        }

        .myImage img {
            position: absolute;
            top: 140px;
            left: 100px;
            border-radius: 10px;
            width: 210px;
            height: 230px;

            z-index: 2;
            object-fit: cover;
        } 

        .text {
            margin-top: 40px;
            text-align: center;
        }
        h2 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        .paraOne {
            margin-top: 4px;
            font-size: 18px;
        }

        .textTwo {
            font-size: 16px;

            position: absolute;
            top: 170px;
            left: 340px;
        }

        .paraTwo {
            margin-bottom: 2px;
        }
        h3 {
            margin-top: 8px;
            margin-bottom: 2px;
        }
        .paraThree {
           font-size: 14px;
           margin-top: 2px;
        }

        .reviewButtons {
            display: flex;
            justify-content: center;
            gap: 650px;
            position: absolute;
            top: 260px;
            left: 23px;          
        }

        .reviewButtons button {
            font-size: 24px;
            border-radius: 50%;
            background-color: white;
            border: 2px solid #727171;
            padding: 10px;
            color: #727171;
            cursor: pointer;      
        }

        .reviewButtons button:hover {
            background-color: #727171;
            color: white;
        }